html, body {
    height: 100%;
}

a {
    color: $blue;
}

.hyperlink {
    @include font-roboto();
    color: $blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &--index {
        font-size: 0.8em;
    }
}

.container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &--narrow {
        padding: 0 30px;
    }

    &--nav {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.section {

    height: auto;
    margin: 0 auto;
    padding: 0;

    &--nav {
        max-width: $page-width;
        border-bottom: 1px solid $lightgrey;
        box-sizing: border-box;
        height: 95px;
    }

    &--content {
        max-width: $page-width;
    }

    &--content-wide {
        width: 100%;
    }
}

@media #{$tablet} {

    .total-container {
        position: relative;
        box-sizing: border-box;
        min-height: 100%;
        padding: 0 0 400px 0;
    }

    .section {

        &--nav {
            //height: 95px;
        }
    }
}
