{% extends 'portfolio/base.html' %}
{% load staticfiles %}

{% block title %}
{% for site_content in site_content %}
- {{ site_content.contact_header }}
{% endfor %}
{% endblock %}

{% block content %}
<div class="contact-background"></div>
<div class="container container--narrow">
    <div class="section section--content contact-content--logo">
        <div class="contact-logo-container">
            <h1><img class="contact-logo" src="{% static 'svg/arp_logo_blue.svg' %}" alt="Amsterdam Realty Partners"/></h1>
        </div>
    </div>
    <div class="section section--content">
        {% for site_content in site_content %}
        <h1 class="heading heading--pages">{{site_content.contact_header}}</h1>
        {% endfor %}
        {% for contact in contact %}
        <p class="paragraph contact-content">
            {{contact.street_name}}<br/>
            {{contact.zipcode}} {{contact.city}}<br/>
            {{contact.country}}<br/>
            <br/>
            <img class="footer__icon" src="{% static 'icons/footer/location-pin.svg' %}"/><a target="_blank" href="https://www.google.nl/maps/place/{{contact.street_name}}+{{contact.zipcode}}+{{contact.city}}">Bekijk op Google Maps</a>
            <br/>
            <br/>
            Telefoon: {{contact.phone}}<br/>
            Email: {{contact.email}}
        </p>
        {% endfor %}
    </div>
</div>
{% endblock %}
