{% extends 'portfolio/base.html' %}

{% block title %} - Disclaimer{% endblock %}

{% block content %}
<div class="container container--narrow">
    <div class="section section--content">
        <h1 class="heading heading--pages">Disclaimer</h1>
        <p class="paragraph paragraph--italic">
        <h2 class="heading heading--paragraph heading--left">Disclaimer website</h2>
        Door deze website te bezoeken en/of de op of via deze website aangeboden informatie te gebruiken, verklaart u
        zich akkoord met de toepasselijkheid van deze disclaimer.


        <h2 class="heading heading--paragraph heading--left">Gebruik van de website www.arpartners.nl</h2>
        De informatie op deze website is uitsluitend bedoeld als algemene informatie. Er kunnen geen rechten aan de
        informatie op deze website worden ontleend. Hoewel Amsterdam Realty Partners zorgvuldigheid in acht neemt bij
        het samenstellen en onderhouden van deze website en daarbij gebruik maakt van bronnen die betrouwbaar geacht
        worden, kunnen wij niet instaan voor de juistheid, volledigheid en actualiteit van de geboden informatie.
        Amsterdam Realty Partners garandeert niet dat de website foutloos of ononderbroken zal functioneren of vrij zijn
        van virussen. Amsterdam Realty Partners wijst iedere aansprakelijkheid ten aanzien van de juistheid,
        volledigheid, actualiteit van de geboden informatie en het (ongestoord) gebruik van deze website uitdrukkelijk
        van de hand.


        <h2 class="heading heading--paragraph heading--left">Informatie van derden, producten en diensten</h2>
        Op de website van Amsterdam Realty Partners staan links naar websites van derden, wij aanvaarden geen
        aansprakelijkheid en geen enkele verantwoordelijkheid voor de inhoud, het gebruik of de beschikbaarheid van
        websites van derden. Het gebruik van dergelijke links is voor eigen risico. De informatie op dergelijke websites
        is door Amsterdam Realty Partners niet nader beoordeeld op juistheid, redelijkheid, actualiteit of volledigheid.


        <h2 class="heading heading--paragraph heading--left">Informatie gebruiken</h2>
        Alle intellectuele eigendomsrechten en andere rechten voor met betrekking tot alle op of via deze website
        aangeboden informatie (waaronder alle teksten, grafisch materiaal en logo’s)berusten bij Amsterdam Realty
        Partners. Het is niet toegestaan informatie op deze website over te kopiëren, te downloaden of op enigerlei
        wijze openbaar te maken, te verspreiden of te verveelvoudigen zonder voorafgaande schriftelijke toestemming van
        Amsterdam Realty Partners. U mag informatie op deze website wel afdrukken en/of downloaden voor uw eigen
        persoonlijk gebruik.

        <h2 class="heading heading--paragraph heading--left">Wijzigingen</h2>
        Wij hebben het recht de aangeboden informatie, met inbegrip van deze disclaimer, te allen tijde te wijzigen
        zonder hiervan nadere aankondiging te doen. Het is raadzaam om regelmatig te controleren of de op of via deze
        website aangeboden informatie, met inbegrip van deze disclaimer, gewijzigd is.


        <h2 class="heading heading--paragraph heading--left">Toepasselijk recht</h2>
        Op deze website en de disclaimer is het Nederlands recht van toepassing. Alle geschillen uit hoofde van of in
        verband met deze disclaimer zullen bij uitsluiting worden voorgelegd aan de bevoegde rechter binnen het
        arrondissement van Amsterdam Realty Partners.
        </p>
    </div>
</div>
{% endblock %}
